<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!--<connectionstrings>
		<add name="defaultconnection"
			   connectionString="Server=localhost;Uid=sa;Pwd=sasa;MultipleActiveResultSets=True;Timeout=120;Database=pruebademo;"
             providername="system.data.sqlclient" />
	</connectionstrings>-->

	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Server=WX1\SQLEXPRESS;Database=pruebademo;Integrated Security=True;MultipleActiveResultSets=True;Timeout=120;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>